<link rel="stylesheet" href="./css/index.css">
<script src="./js/vue-agile.js"></script>
<div class="index app">
	<div class="content-one">
		<div class="swiper-container banner-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide slide1" style="background-image: url(../imgs/index/banner/1/A.jpg)">
				 
					<div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0s" style="background-image: url('../imgs/index/banner/1/1.png');" ></div>
					<div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.1s" style="background-image: url('../imgs/index/banner/1/2.png');"></div>
				</div>
				<div class="swiper-slide slide2" style="background-image: url(../imgs/index/banner/2/Bg.jpg)">
					<div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0s" style="background-image: url('../imgs/index/banner/2/B.png');"></div>
					<div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.1s" style="background-image: url('../imgs/index/banner/2/1.png');"></div>
					<div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s" style="background-image: url('../imgs/index/banner/2/2.png');"></div>
					<div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s" style="background-image: url('../imgs/index/banner/2/3.png');"></div>
					<div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s" style="background-image: url('../imgs/index/banner/2/4.png');"></div>
				</div>
				<div class="swiper-slide slide3" style="background-image: url(../imgs/index/banner/3/C.jpg)">
					<div style="background-image: url(../imgs/index/banner/3/C.png)" alt="" class="ani" swiper-animate-effect="fadeInUp"
					 swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-button-prev"></div>
			<!--左箭头-->
			<div class="swiper-button-next"></div>
			<!--右箭头-->
		</div>
		<div class="repeatable ">
			<div class="border">

				<a href="/v02" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
					<div>
						<img src="./imgs/index/banner-icon1.png" alt="">
					</div>
					<div>
						<p>智能植保无人机</p>
						<p>天麒科技致力于智能植保无人机的研发与制造，以尖端科技解放农业生产力。</p>
					</div>
				</a>
			</div>
			<div class="border">
				<a href="" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
					<div class="imgs">
						<img src="./imgs/index/banner-icon2.png" alt="">
					</div>
					<div>
						<p>一体化农业服务</p>
						<p>由植保无人机切入大农业，以人工智能为核心，让用户享受智能一体化农业服务。</p>
					</div>
				</a>
			</div>
			<div class="border">
				<a href="" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
					<div>
						<img src="./imgs/index/banner-icon3.png" alt="">
					</div>
					<div>
						<p>智慧农业解决方案</p>
						<p>深度参与农业生态链，为客户提供自动化、定制化的智慧农业解决方案，重塑新农业。</p>
					</div>
				</a>
			</div>

		</div>

	</div>
	<div class="content-two">
		<div class="container-infos box">
			<div class="container-info wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">

				<div class="titles">
					<span>更懂农作物的系列解决方案</span>
				</div>
				<div class="imgs">
					<div style="background-image: url(./imgs/index/main1-1.jpg);">

					</div>
				</div>
				<div class="container-info-box">
					<div>
						<p>天麒农情监测系统（防病患于未然，为农作物保驾护航）</p>
						<p>天麒植保基础设施（智能农机规模化、去人化作业，定位数据随用随调）</p>
						<p> 卫星遥感技术（农作物病虫害成像分析）</p>
						<p>农业大数据平台（农业数据采集存储、运算分析、挖掘应用）</p>
					</div>

					<div class="more">More...</div>
				</div>
				<div class="offset-box"></div>
			</div>
			<div class="container-info wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
				<div class="offset-box"></div>
				<div class="titles">
					<span>天麒全自主植保无人机</span>
				</div>
				<div class="imgs">
					<div style="background-image: url(./imgs/index/main1-2.jpg);"></div>
				</div>
				<div class="container-info-box">

					<div>
						<p>一控多机 精密高效</p>
						<p>作业效率翻倍多 劳作成本翻倍少</p>
						<p>支持一控多机 一个遥控器可遥控4-6台无人机</p>
						<p>大大降低人力成本，节约时间成本</p>
						<p>智能生成无死角作业路径，无复喷漏喷错喷</p>
					</div>

					<div class="more">More...</div>
				</div>
			</div>
			<div class="container-info wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
				<div class="offset-box"></div>
				<div class="titles">
					<span>无人机无人化的无人值守体系
					</span>
				</div>
				<div class="imgs">
					<div style="background-image: url(./imgs/index/main1-3.jpg);"></div>

				</div>
				<div class="container-info-box">
					<div>
						<p>成功研发出更懂无人机的天麒全自主作业平台</p>
						<p>全程自动为无人机续药续电续航</p>
						<p>采集储存植保数据，提供智能自动化操作</p>
					</div>
					<div class="more">More...</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-three">
		<div class="l">
		</div>
		<div class="wow fadeInUp r" data-wow-duration="0.5s" data-wow-delay="0s">
			<div class="swiper-container about-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide slide1"></div>
					<div class="swiper-slide slide2"></div>
					<div class="swiper-slide slide3"></div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination swiper-pagination-bullets"></div>
				<!--右箭头-->
			</div>
		</div>
		<div class="box">
			<div class="t wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.1s">
				<div class="imgs"></div>
			</div>
			<div class="b">
				<div>
					<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">关于我们</p>
					<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">About us</p>
				</div>
				<p class="content wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">成都天麒科技有限公司是一家以人工智能为核心，提供智能一体化农业服务的科技创新型企业， 成立于2013年6月，总部位于成都高新区。公司致力于空中无人机器人的研发和制造， 对于无人机在农林牧业等应用有深入的探索，已取得业内瞩目的成果和产品。</p>
			</div>
		</div>

	</div>
	<div class="content-four">
		<div class="box">
			<div class="title">
				<p class="c-paragraph wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">业内资讯</p>
				<p class="c-paragraph wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">News center</p>
			</div>
			<div class="news-box">
				{{#each data.docs}}
				<a href="/news/{{this._id}}.html" class="news wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
					<div class="new">
						<p class="news-title">
							{{this.title}}
						</p>
						<div class="new-line"></div>
						<div class="news-titme">
							<p>{{this.date}}</p>
						</div>
						<p class="news-content">
							{{this.discription}}
						</p>
					</div>
					<div class="news-img" style="background:url({{this.sImg}})">
						{{!-- <img src="{{}}" alt=""> --}}
					</div>
				</a>
				{{/each}}

			</div>
			<div class="read-more wow fadeInUp " data-wow-duration="0.5s" data-wow-delay="0.1s">
				<a class="btn-default btn bsbutton_bmayCG" href="/news" sizes="" type="button" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: 50% 50% 0px;">read more</a>
			</div>
		</div>

	</div>


	<div class="content-five">
		<div class="img-holder" data-image="./imgs/index/main4-bg.jpg"></div>
		<div class="box">
			<ul class="wow  fadeInUp">
				<li>
					<div>
						<div class="title ">
							<div class="l">
								<img src="./imgs/index/main4-icon1.png" alt="">
							</div>
							<p class="r">人工智能设备</p>
						</div>
						<p class="conent">
							以植保无人机为核心的人工智能农业设备
						</p>
					</div>
				</li>
				<li>
					<div>
						<div class="title">
							<div class="l">
								<img src="./imgs/index/main4-icon2.png" alt="">
							</div>
							<p class="r">互联网+农业</p>
						</div>
						<p class="conent">
							构建线上线下深度结合的互联网+农业云生态
						</p>
					</div>
				</li>
				<li>
					<div>
						<div class="title">
							<div class="l">
								<img src="./imgs/index/main4-icon3.png" alt="">
							</div>
							<p class="r">农业大数据</p>
						</div>
						<p class="conent">
							以运算分析、挖掘应用为基础的农业大数据平台
						</p>
					</div>
				</li>
				<li>
					<div>
						<div class="title">
							<div class="l">
								<img src="./imgs/index/main4-icon4.png" alt="">
							</div>
							<p class="r">定制化方案</p>
						</div>
						<p class="conent">
							针对不同场景及需求提供定制化智慧农业解决方案
						</p>
					</div>
				</li>
				<li>
					<div>
						<div class="title">
							<div class="l">
								<img src="./imgs/index/main4-icon5.png" alt="">
							</div>
							<p class="r">一体化服务</p>
						</div>
						<p class="conent">
							客户至上，提供售前、售后一体化服务
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="content-six">
		<div class="box">
			<ul>
				<li>
					<div class="l">
						<div class="t">
							<h1 class="contup">600</h1>
							<p>万亩</p>
						</div>
						<p>作业面积</p>
					</div>
					<div class="r">
						<img src="./imgs/index/main5-icon1.png" alt="">
					</div>

				</li>
				<li>
					<div class="l">
						<div class="t">
							<h1 class="contup">100</h1>
							<p>+</p>
							<p>项</p>
						</div>
						<p>项技术专利</p>
					</div>
					<div class="r">
						<img src="./imgs/index/main5-icon2.png" alt="">
					</div>

				</li>
				<li>
					<div class="l">
						<div class="t">
							<h1 class="contup">6</h1>
							<p>省</p>
						</div>
						<p>分支机构覆盖</p>
					</div>
					<div class="r">
						<img src="./imgs/index/main5-icon3.png" alt="">
					</div>

				</li>
				<li>
					<div class="l">
						<div class="t">
							<h1 class="contup">100</h1>
							<p>+</p>
							<p>家</p>
						</div>
						<p>家飞防合作单位 </p>
					</div>
					<div class="r">
						<img src="./imgs/index/main5-icon4.png" alt="">
					</div>

				</li>
				<li>
					<div class="l">
						<div class="t">
							<h1>更多资讯</h1>
						</div>
						<p>敬请期待</p>
					</div>
				</li>
			</ul>
		</div>

	</div>

</div>
{{datas}}