<link rel="stylesheet" href="./css/news.css">
<div class="news app">
    <div class="content-one">

    </div>
    <div class="content-two">
        <div class="box">
            <ul data-current="{{data.pageInfo.current}}" data-pageSize='{{data.pageInfo.pageSize}}' data-totalItems='{{data.pageInfo.totalItems}}'>
                {{#each data.docs}}
                <li class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.{{@index}}s">
                    <a href="/news/{{this._id}}.html">
                        <div class="news-list">
                        <div class="l">
                            <div class="rborder"></div>
                            <div class="l-time">
                                <p>{{this.date}}</p>
                            </div>
                            <img src="./imgs/news/arrow.png" alt="" class="icon">
                        </div>
                        <div class="r">
                            <div class="r-l">
                                <p> {{this.title}}</p>
                                <p>{{this.discription}}</p>
                            </div>
                            <div class="r-r">
                                <div>
                                    <div class="imgs" style="background:url({{this.sImg}})"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </li>
                {{/each}}
            </ul>
            <div class="paging"></div>
        </div>
    </div>
</div>